<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Belly Button Biodiversity</title>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-T5jhQKMh96HMkXwqVMSjF3CmLcL1nT9//tCqu9By5XSdj7CwR0r+F3LTzUdfkkQf" crossorigin="anonymous">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

  <div class="container">
    <!-- Jumbotron as page heading -->
    <div class="row">
      <div class="col-md-12 jumbotron bg-dark text-white text-center">
        <h1>Belly Button Biodiversity Dashboard</h1>
        <p>Use the interactive charts below to explore the dataset</p>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-2">
        <!-- card for select item -->
        <div class="card text-white bg-primary">
          <h5 class="card-header">SELECT Sample:</h5>
          <div class="card-body">
            <select id="selDataset" onchange="optionChanged(this.value)"></select>
          </div>
        </div>
        <br>
        <!-- card for metadata to be added via flask: -->
        <div class="card text-white bg-info">
          <h5 class="card-header">Sample MetaData</h5>
          <div class="card-body">
            <div id="sample-metadata" class="card-text"></div>
          </div>
        </div>
      </div>

      <!-- pie chart -->
      <div class="col-md-5">
        <div id="pie"></div>
      </div>

      <!-- gauge chart -->
      <div class="col-md-5">
        <div id="gauge"></div>
      </div>

    </div>     <!-- /row -->
  
      <!-- row for bubble chart -->
    <div class="row">
      <div class="col-md-12">
        <div id="bubble"></div>
      </div>
    </div>

  </div>      <!-- /container -->



  <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/bonus.js') }}"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>

</html>
